.jp-example-view {
  background-color: AliceBlue;
}

.jp-example-button {
  background-color: red;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.presentation-title {
  color: black;
  text-align: center;
  font-size: 32px;
}

.mainPanel {
  width: 100%;
  height: 100%;
  background-color: white;
}

.body1 {
  width: 100%;
  height: 20;
  background-color: lightblue;
}

.body2 {
  flex: 0 1 50%;
  width: 50%;
  height: 80%;
  background-color: lightgray;
}

.body3 {
  flex: 0 1 50%;
  display: flex;
  width: 50%;
  height: 80%;
  background-color: lightpink;
}

.jp-Cell .ccb-cellFooterContainer {
  display: flex;
}

.jp-Cell .ccb-cellFooterBtn {
  color: #fff;
  opacity: 0.7;
  font-size: 0.65rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  padding: 4px 8px;
  margin: 0.2rem 0;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
  user-select: none;

  margin-left: auto;
  margin-right: 0px;
}

.jp-Cell .ccb-cellFooterBtn:active {
  background-color: var(--md-blue-600);
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.jp-Cell .ccb-cellFooterBtn:hover {
  background-color: var(--md-blue-500);
  opacity: 1;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  box-shadow: var(--jp-elevation-z2);
}

.jp-Cell .ccb-cellFooterBtn {
  background: var(--md-blue-400);
}

.jp-CodeCell {
  display: flex !important;
  flex-direction: column;
}

.jp-CodeCell .jp-CellFooter {
  height: auto;
  order: 2;
}

.jp-Cell .jp-Cell-inputWrapper {
  margin-top: 5px;
}

.jp-CodeCell .jp-Cell-outputWrapper {
  order: 4;
}
